{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Background information</h1>
    <p>This is a simple blog project that is used to display some of the flasks capabilities. It is built to do some
    simple things like allow the user to create a blog and display the blog. </p>
    <h1>Author</h1>
    <p>The author of this project is Derrick Wakhu Shibero. At the making of this project, he is currently a second year
    student of computer science. He has worked extensively with the flask framework and can create many things that
    require knowledge in flask. He is currently working on other projects that will eventually put him on the map.
    He also works with the django framework and is interested in machine learning and working with nosql databases like
    mongodb which was used in the creation of this project</p>
    <h1>Features</h1>
    <p>
        <ul>
            <li>Allow user to create a blog</li>
            <li>Allow user to view a blog</li>
            <li>Allow user to like a view</li>
            <li>Allow use to dislike a view</li>
            <li>Allow user to delete a view</li>
            <li>It is built entirely on flask</li>
            <li>The database it uses is mongodb</li>
        </ul>
    </p>
{% endblock %}