<!-- This is the model for the footer. this makes it easier to format as all the code related to the footer is at one place -->
<div class="footer">
    <p>visit us on
        <a href="https://www.reddit.com" title="reddit"><img src="{{url_for('static', filename='images/reddit_dark.svg')}}" height="50" width="50" alt="reddit logo"></a>
        <a href="https://www.twitter.com" title="twitter"><img src="{{url_for('static', filename='images/twitter.svg')}}" height="50" width="50" alt="twitter logo"></a>
        <a href="https://www.facebook.com" title="facebook"><img src="{{url_for('static', filename='images/facebook.svg')}}" height="50" width="50" alt="facebook logo"></a>
        <a href="https://www.pinterest.com" title="pinterest"><img src="{{url_for('static', filename='images/pinterest.svg')}}" height="50" width="50" alt="pinterest logo"></a>
        <a href="https://www.whatsapp.com" title="whatsapp"><img src="{{url_for('static', filename='images/whatsapp_dark.svg')}}" height="50" width="50" alt="whatsapp logo"></a>
        <a href="https://www.youtube.com" title="youtube"><img src="{{url_for('static', filename='images/youtube.svg')}}" height="50" width="50" alt="youtube logo"></a>
        <a href="https://www.instagram.com" title="instagram"><img src="{{url_for('static', filename='images/instagram.svg')}}" height="50" width="50" alt="instagram logo"></a>
        <a href="https://www.gmail.com" title="gmail"><img src="{{url_for('static', filename='images/email.svg')}}" height="50" width="50" alt="email logo"></a>
    </p>
    <p>&copy; 2023 Black&trade;</p>
</div>